# Ignore virtual environment
venv/

# Ignore Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Personal files and configurations
start_chrome.bat
tracks.csv
test.py

# Ignore log files
*.log

# Ignore IDE settings
.vscode/
.idea/
